server {
	listen {{ site_port }};
	listen [::]:{{ site_port }};
	
  root {{ project_location }}/public;
	index index.html index.htm index.php;
	
  server_name {{ domain_name }};

	location / {
		try_files $uri $uri/ /index.php$is_args$args;
	}
	
	location ~ \.php$ {
		fastcgi_pass unix:/var/run/php7.1/{{ deployer_user }}.sock;
		fastcgi_index index.php;
		include fastcgi_params;
	}
}